.nav {
 background-color: #fff;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('we!.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}

.jumbotron .container {
    left: 30px;
    position: relative;
    top: -15px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #fff;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #fff;
  text-decoration:underline;
}

.neighborhood-guides {
    background-color:#fbf9da;
    border-bottom:1px solid #dbdbdb;
    padding-bottom: 30px;
}


.neighborhood-guides p{
    font-size: 18px;
    margin-bottom: 13px;
}

.neighborhood-guides h2{
   color:#393c3d;
   font-size:24px;
}

.hashTag{
 color:red;
}
